<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-2.5.xsd
		http://www.springframework.org/schema/util 
		http://www.springframework.org/schema/util/spring-util-2.5.xsd">
  
<!-- Inversion on Control(IoC:제어의 역전) -->        
      
<bean id="testImpl1" class="com.di.test.TestImpl1" >
	<constructor-arg>
		<value type="int">50</value>
	</constructor-arg>
	<constructor-arg>
		<value type="int">70</value>
	</constructor-arg>
</bean>   
<bean id="testImpl2" class="com.di.test.TestImpl2">
	<constructor-arg value="박신혜"/>
	<constructor-arg>
		<value type="int">37</value>
	</constructor-arg>
	
</bean>   

<!-- 
<bean id="testService" class="com.di.test.TestService">
	<constructor-arg>
		<ref bean="testImpl2"/>
	</constructor-arg>
</bean>        
      
        
<bean id="testService" class="com.di.test.TestService">
	<property name="test">
		<ref bean="testImpl2"/>
	</property>
</bean>        
        
-->        
       
<!-- 외부 데이터를 가져와서 의존성 주입을 할 때 사용 (DB연동할 때 사용) -->       
<bean id="testService" 
class="com.di.test.TestService" p:test-ref="testImpl1">
	
</bean>        
        
           
</beans>  
